<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="field">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.00410314296918E-15 3.3870032076175 0.018767965835143"
        rpy="0 0 0" />
      <mass
        value="248.19298432" />
      <inertia
        ixx="1127.40235268765"
        ixy="-7.91843214132369E-13"
        ixz="-1.32346511511592E-14"
        iyy="1003.37981587324"
        iyz="7.03678252274693E-14"
        izz="2130.63042476209" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://field/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>